@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "游明朝" , serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ　Pro W3",sans-serif;
}

img {
  width: 100%;
}

/*共通*/
.wrapper {
  padding: 0 4%;
}

.botn a {
  color: #000000;
  background: #FFC300;
  border-radius: 5px;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  margin: 80px 0 40px 0;
}

.content-wrapper {
  max-width: 1400px;
  padding: 0 10%;
  margin: 0 auto;
}

/*header
----------------------------------------------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}

.logo img {
  width: 60px;
}
.logo p {
  font-size: 36px;
  font-family: "游明朝" , serif;
}

.icon-link {
  color: #000000;
}

.reserve {
  font-size: 1.325rem;
  font-weight: bold;
  margin: auto 0;
}

.reserve a {
  padding: 10px 20px;
}

/*top-wrapper
---------------------------------------------*/
.top-wrapper {
  background-image: url(main-visual.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.top-content {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.top-content h1 {
  font-size: 3.25rem;
  margin: 0 auto;
}
.top-content p {
  font-size: 1.375rem;
  margin: 0 auto;
}

nav {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.menu-list li {
  margin-right: 50px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list a:hover {
  color: #FFC300;
}

/*content-flex
----------------------------------------------*/
.content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*oblsession
--------------------*/
#obsession {
  width: 40%;
}
.obsession-img {
  height: 300px;
  object-fit: cover;
}

/*news
--------------------*/
#news {
  width: 55%;
}

.news-content {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #989898;
  padding: 25px 0;
}

.content-top {
  border-top: 2px solid #443714;
}

.date {
  width: 30%;
  /*上下中央*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-title {
  width: 70%;
  font-size: 1.325rem;
}

/*menu
----------------------------------------------*/
.grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}

.menu-item img {
  height: 300px;
  object-fit: cover;
}

.adjustment {
  object-position: bottom;
}

/*infomation
---------------------------------------------*/
#infomation {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10%;
}

.info-flex {
  display: flex;
  border-bottom: 1px solid #989898;
  padding: 20px 0;
}

.info-item {
  width: 40%;
  display: flex;
  align-items: center;
}
.info-content {
  width: 60%;
}

.flex-top {
  padding-top: 0;
  padding-bottom: 20px;
}
.flex-last {
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0;
}

/*access
----------------------------------------------*/
#access iframe {
  width: 100%;
}

/*contact-botn
---------------------------------------------*/
.contact-botn {
  text-align: center;
}

.contact-botn a {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 15px 25px;
  margin: 120px 0;
}


/*footer
---------------------------------------------*/
footer {
  background: #443714;
  color:  #fff;
  height: 50px;
  text-align: center;
}

footer p {
  line-height: 50px;
}

/*contact.html（お問い合わせフォーム）
-----------------------------------------------------------------------------*/
.contact-wrapper {
  height: 100vh;
  background-image: url(contact-img.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: left;
}

#contact {
  padding-top: 130px;
}

#contact h2 {
  font-size: 2.725rem;
  margin-bottom: 30px;
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 300px;
}

textarea {
  width: 100%;
  height: 6rem;
  max-width: 450px;
}

input[type="submit"]{
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ　Pro W3",sans-serif;
  font-weight: bold;
  background: #FFC300;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 20px;
}

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*スマートフォン
-----------------------------------------------------------------------------*/
@media (max-width: 600px) {
  /*index.html
  ---------------------------------------*/
  /*共通
  ----------------------*/
  .sub-title {
    margin: 40px 0 20px 0;
  }
  /*header
  ----------------------*/
  .logo img {
    width: 35px;
    height: 35px;
  }
  .logo p {
    font-size: 20px;
  }

  .reserve {
    font-size: 1rem;
  }
  .reserve a {
    padding: 8px 15px;
  }

/*top-warpper
------------------------*/
.top-wrapper {
  background-position: -150px;
}

  .top-content {
    top: 25%;
  }
  .top-content h1 {
    max-width: 360px;
  }
  .top-content p {
    max-width: 490px;
    padding: 0 5%;
  }

  .menu-list {
    flex-direction: column;
    justify-content: center;
  }
  .menu-list li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-list a {
    text-decoration: underline;
  }

  /*content-flex
  -------------------------------*/
  .content-flex {
    flex-direction: column;
  }
  #obsession {
    width: 100%;
  }
  .obsession-img {
    height: 200px;
  }
  #news {
    width: 100%;
  }
  .news-content {
    flex-direction: column;
    padding: 10px 0;
  }
  .date {
    width: 100%;
    justify-content: flex-start;
  }
  .news-title {
    width: 100%;
    font-size: 1.2rem;
  }

  /*infomation
  -------------------------------*/
  .info-item {
    width: 35%;
    font-size: 0.9rem;
  }
  .info-content {
    width: 65%;
    font-size: 0.9rem;
  }

  /*access
  ------------------------------*/
  #access iframe {
    height: 200px;
  }

  /*contact-botn
  ------------------------------*/
  .contact-botn a {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 80px 0;
  }

  /*CONTACT
  ---------------------------------------------------------------*/

  #contact h2 {
    font-size: 2rem;
    }

.send-bton {
  width: 100%;
  text-align: center;
}

input[type="submit"] {
  margin-top: 40px;
}


}
